git-prompt.sh
terraform.completion.bash
### https://raw.github.com/github/gitignore/a98a0444694f30e52fb6eef9aec08e9b5e211a44/Terraform.gitignore

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/


